.idea/
.DS_Store
obj/
Restaurants
Restaurants.API/obj
src/Restaurants.API/Logs/
src/Restaurants.API/bin/
./src/Restaurants.API/Logs/
./src/Restaurants.API/obj
./src/Restaurants.API/bin
./src/Restaurants.Infrastructure/obj
./src/Restaurants.Infrastructure/bin
./src/Restaurants.Domain/obj
./src/Restaurants.Domain/bin
./src/Restaurants.Application/obj
./src/Restaurants.Application/bin
./src/Restaurants.API/bin
./src/Restaurants.API/Logs
./Restaurants.Application.Tests/bin/
