.idea/
.DS_Store
obj/
Restaurants
Restaurants.API/obj
Restaurants.API/bin
Restaurants.Infrastructure/obj
Restaurants.Infrastructure/bin
Restaurants.Domain/obj
Restaurants.Domain/bin
Restaurants.Application/obj
Restaurants.Application/bin
/Restaurants.Application.Tests/bin/
